<mat-sidenav-container class="sidenav-container">
    <!-- side nav -->
    <mat-sidenav mode="side" opened>
        <div class="list-container">
            <div class="main-text navtitle">
                <a href="/">
                    <img src='/assets/logo-white.png'>
                </a>
            </div>
            <mat-nav-list>
                <a mat-list-item href="/#patients" class="body-text white">Clients</a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/#games" class="body-text white">Games</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">Settings</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">FAQ</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white" (click)="logOut()">Log out</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </div>
        <div class="name-container body-text">
            <ngx-avatar class="face-container" name="{{user['first name']}} {{user['last name']}}" bgColor="white" fgColor="black"></ngx-avatar>
            {{user['first name']}} {{user['last name']}}
        </div>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content class="background">
        <!-- main view -->
        <mat-card *ngIf="!addView">
            <mat-card-title>
                <h1>CLIENTS</h1>
            </mat-card-title>
            <!-- search bar -->
            <mat-form-field class="form-field" appearance="outline">
                <input class="body-text"  matInput [(ngModel)]="query" placeholder="Search for a client using their name or Pluto Code">
            </mat-form-field>
            <mat-list>
                <mat-list-item (click)="toggleView()">
                    <mat-icon matListAvatar class="add-icon">add_circle</mat-icon>
                    <button mat-button class="list-text">Add a Client</button>
                </mat-list-item>
            </mat-list>
            <!-- patient list -->
            <mat-nav-list>
                <mat-list-item *ngFor="let patient of patients | filter: query" class="list-text vertical-center" (click)="goProfile(patient.uid)">
                    <ngx-avatar class="avatar" matListAvatar name="{{patient.firstName}} {{patient.lastName}}"></ngx-avatar>
                    <p class="list-text" matLine>{{patient.firstName}} {{patient.lastName}}</p>
                </mat-list-item>
            </mat-nav-list>
        </mat-card>
        <!-- add client form -->
        <mat-card *ngIf="addView">
            <mat-card-title>
                <!-- back button -->
                <div class="back-button vertical-center" (click)="toggleView()">
                    <mat-icon class="back-arrow">arrow_back</mat-icon>
                    <p class="body-text">Clients</p>
                </div>
                <h1>ADD A CLIENT</h1>
            </mat-card-title>
            <p class="body-text">CLIENT INFORMATION</p>
            <form [formGroup]="patientForm" (ngSubmit)="addPatient(patientForm.value)" class="body-text">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" [floatLabel]="'always'">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" [floatLabel]="'always'">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" [floatLabel]="'always'">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [max]="today" [matDatepicker]="picker" formControlName="dob">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <!-- Search and Select Therapy Goals -->
                <mat-form-field appearance="outline" [floatLabel]="'always'" class="form-field">
                    <mat-label>Therapy Goals</mat-label>
                    <mat-select [formControl]="tagMultiCtrl" placeholder="Select Therapy Goals" [multiple]="true" #multiSelect>
                        <ngx-mat-select-search [formControl]="tagMultiFilterCtrl" placeholderLabel="Search Therapy Goals"></ngx-mat-select-search>
                        <mat-chip-list>
                            <mat-option *ngFor="let tag of filteredTagsMulti | async" [value]="tag">
                                <mat-chip>{{tag['goal'].replace("_", " ")}}</mat-chip>
                            </mat-option>
                        </mat-chip-list>
                    </mat-select>
                </mat-form-field>
                <table>
                    <tr>
                        <td>
                            <p class="body-text">CONTACT INFORMATION</p>
                            <p class="body-text-smaller">
                                All forms of electronic communication via Pluto Care such as assigned 
                                <br>
                                game programs for the client will be sent to the named recipient and 
                                <br>
                                email address below.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>Recipient's Full Name</mat-label>
                                <input matInput formControlName="recipient_name">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>Recipient's Email Address</mat-label>
                                <input matInput formControlName="recipient_email">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="body-text">CONSENT</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-checkbox class="body-text-smaller" formControlName="consent">
                                The client and/or a legal caretaker consents to having this 
                                <br>
                                information saved on the occupational therapist’s account for 
                                <br>
                                treatment purposes only. Other uses of this data such as for 
                                <br>
                                research ensures that it will be anonymyzed.
                            </mat-checkbox>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>
                            <button mat-flat-button class="body-text button-background cta-button" [disabled]="!patientForm.valid">ADD CLIENT</button>
                        </td>
                    </tr>
                </table>
            </form>
            <br>
            <br>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>