<mat-sidenav-container class="sidenav-container">
    <!-- side nav -->
    <mat-sidenav mode="side" opened>
        <div class="list-container">
            <div class="main-text navtitle">
                <a href='/' style="text-decoration: none;">pluto care</a>
            </div>
            <mat-nav-list class="body-text">
                <a mat-list-item href="/#games">Games</a>
                <a mat-list-item href="/#patients">Patients</a>
                <a mat-list-item>Settings</a>
                <a mat-list-item>FAQ</a>
            </mat-nav-list>
        </div>
        <div class="name-container body-text">
            <ngx-avatar class="face-container" name="{{user['first name']}} {{user['last name']}}"></ngx-avatar>
            {{user['first name']}} {{user['last name']}}
        </div>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content class="background">
        <!-- main view -->
        <mat-card *ngIf="!addView">
            <mat-card-title>Patients</mat-card-title>
            <mat-card-content>Manage your patient profiles here</mat-card-content>
            <!-- search bar -->
            <mat-form-field class="form-field" appearance="outline">
                <input  matInput [(ngModel)]="query" placeholder="Search for patient using their name or UID">
            </mat-form-field>
            <mat-list>
                <mat-list-item (click)="toggleView()">
                    <mat-icon matListAvatar class="add-icon" color="primary">add_circle</mat-icon>
                    <button mat-button>ADD A PATIENT</button>
                </mat-list-item>
            </mat-list>
            <!-- patient list -->
            <mat-nav-list>
                <mat-list-item *ngFor="let patient of patients | filter: query" (click)="goProfile(patient.uid)">
                    <ngx-avatar matListAvatar name="{{patient.firstName}} {{patient.lastName}}"></ngx-avatar>
                    <h2 class="body-text" matLine>{{patient.firstName}} {{patient.lastName}}</h2>
                </mat-list-item>
            </mat-nav-list>
        </mat-card>
        <!-- add patient form -->
        <mat-card *ngIf="addView">
            <mat-card-title>Add a Patient</mat-card-title>
            <form [formGroup]="patientForm" (ngSubmit)="addPatient(patientForm.value)">
                <table>
                    <tr>
                        <td>
                            <mat-form-field appearance="outline" [floatLabel]="'always'">
                                <mat-label>first name</mat-label>
                                <input matInput formControlName="firstName">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="outline" [floatLabel]="'always'">
                                <mat-label>last name</mat-label>
                                <input matInput formControlName="lastName">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <mat-card-content>Contact Information</mat-card-content>
                            <mat-card-content>Email addresses listed below will be used to send the games to the child or caretaker’s devices</mat-card-content>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>email address</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>parent email address</mat-label>
                                <input matInput formControlName="parentEmail">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-card-content>Clinical Information</mat-card-content>
                            <mat-card-content>[Something about how it will be used ie trends, visualizations; depersonalizd for researchers]</mat-card-content>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>Conditions</mat-label>
                                <input matInput formControlName="conditions">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="form-field" appearance="outline" [floatLabel]="'always'">
                                <mat-label>Goals</mat-label>
                                <input matInput formControlName="goals">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button mat-button [disabled]="!patientForm.valid">ADD PATIENT</button>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>