.chart-container {
    height: 300px;
    width: 675px;
}

.play-container {
    height: 400px;
    width: 80%;
    border: 1px solid #000000;
    border-radius: 4px;
}

.game-image {
    height: 210px;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.game-description {
    height: auto;
    width: 100% - 15px;
    padding-left: 15px;
    overflow-wrap: normal;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.no-margin {
    margin-bottom: 5px;
}