.chart-container {
    height: 300px;
    width: 675px;
}

.game-container {
    height: 395px;
    width: 75%;
    border: 1px solid #000000;
    border-radius: 4px;
}

.game-image {
    height: 225px;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.game-description {
    height: 170px;
    width: 100%;
    padding-left: 15px;
}