<mat-sidenav-container class="sidenav-container">
    <!-- side nav -->
    <mat-sidenav mode="side" opened>
        <div class="list-container">
            <div class="main-text navtitle">
                <a href="/">
                    <img src='/assets/logo-white.png'>
                </a>
            </div>
            <mat-nav-list>
                <a mat-list-item href="/#patients" class="body-text white">Clients</a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/#games" class="body-text white">Games</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">Settings</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">FAQ</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </div>
        <div class="name-container body-text">
            <ngx-avatar class="face-container" name="{{user['first name']}} {{user['last name']}}" bgColor="white" fgColor="black"></ngx-avatar>
            {{user['first name']}} {{user['last name']}}
        </div>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content class="background">
        <mat-card>
            <!-- back button -->
            <div class="back-button vertical-center" (click)="goProfile()">
                <mat-icon class="back-arrow">arrow_back</mat-icon>
                <p class="body-text">Client Profile</p>
            </div>
            <mat-card-title>
                <h1>ASSIGN PROGRAM</h1>
            </mat-card-title>
            <!-- Patient Information -->
            <table class="info-container info-margin">
                <tr>
                    <td>
                        <div class="body-text-bigger info-cell">
                            <ngx-avatar class="face-container" name="{{profile['firstName']}} {{profile['lastName']}}"></ngx-avatar> 
                            {{profile['firstName']}} {{profile['lastName']}}
                        </div>
                    </td>
                    <td>
                        <div class="body-text">
                            Pluto Code: {{profile['uid']}}
                        </div>
                    </td>
                </tr>
            </table>
            <!-- GAME SEARCH AND SELECTION -->
            <table class="info-container info-margin">
                <tr>
                    <td>
                        <p class="body-text">CHOOSE A GAME</p>
                    </td>
                    <td *ngIf="selected_game['game_title']!=''">
                        <p (click)="removeSelectedGame()" class="right body-text pointer">Choose a different game</p>
                    </td>
                </tr>
            </table>
            <!-- search bar -->
            <mat-form-field class="form-field" appearance="outline" *ngIf="selected_game['game_title']==''">
                <input matInput [(ngModel)]="query" class="body-text" placeholder="Search game library">
            </mat-form-field>
            <!-- Game List -->
            <div class=horizontal-scroll *ngIf="selected_game['game_title']==''">
                    <div *ngFor="let game of gameList | filter: query" (click)="selectGame(game)">
                            <div class="game-container game-container-margin">
                                <img [src]="game['icon']" class="game-img" layout-fill>
                                <p class="body-text">{{ game['game_title'] }} </p>
                            </div>
                    </div>
            </div>
            <!-- Selected Game -->
            <div *ngIf="selected_game['game_title']!=''">
                <div class="game-container game-container-margin">
                    <img [src]="selected_game['icon']" class="game-img" layout-fill>
                    <p class="body-text">{{ selected_game['game_title'] }} </p>
                    <mat-chip-list>
                        <div *ngFor="let tag of selected_game['tags']">
                            <mat-chip class="body-text-smaller">{{ tag.replace("_", " ") }}</mat-chip>
                        </div>
                    </mat-chip-list>
                </div>
            </div>
            <!-- Suggested Frequency Form -->
            <p class="body-text info-margin">SUGGESTED FREQUENCY</p>
            <form [formGroup]="programForm" (ngSubmit)="assignProgram(programForm.value)">
                <div class="form-line body-text">
                    <p>Do </p>
                    <mat-form-field appearance="outline" class="number-field">
                        <input type="number" matInput formControlName="no_sessions">
                    </mat-form-field>
                    <p> session(s) every </p>
                    <mat-form-field appearance="outline" class="number-field">
                        <input type="number" matInput formControlName="no_occurrences">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="word-field">
                        <select matNativeControl formControlName="cadence">
                            <option value="days">days</option>
                            <option value="weeks">weeks</option>
                            <option value="months">months</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="form-line body-text">
                    <p>Duration per session </p>
                    <mat-form-field appearance="outline" class="number-field">
                        <input type="number" matInput formControlName="no_duration">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="word-field">
                        <select matNativeControl formControlName="duration">
                            <option value="seconds">seconds</option>
                            <option value="mins">mins</option>
                            <option value="hours">hours</option>
                        </select>
                    </mat-form-field>
                </div>
                <mat-radio-group formControlName="ends" class="radio-group body-text">
                    <table>
                        <tr>
                            <p class="body-text">Ends</p>
                        </tr>
                        <tr>
                            <td>
                                <mat-radio-button value="never">Never</mat-radio-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-radio-button value="on">On</mat-radio-button>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [min]="min_date" [matDatepicker]="picker" formControlName="on_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-radio-button value="after">After</mat-radio-button>
                            </td>
                            <td class="form-line">
                                <mat-form-field appearance="outline">
                                    <input type="number" matInput formControlName="no_after">
                                </mat-form-field>
                                <p> occurrences</p>
                            </td>
                        </tr>
                    </table>
                </mat-radio-group>
            <!-- Email Draft -->
            <p class="body-text">SEND PROGRAM VIA EMAIL</p>
            <mat-form-field appearance="outline" class="full-field body-text">
                <input disabled matInput [value]="getFromLine()">
            </mat-form-field>
            <div class="full-field email body-text">
                <p>Hello {{profile['recipient_name']}},</p>
                <p>Below is {{profile['firstName']}}'s program via Pluto Care.</p>
                <div *ngIf="selected_game['game_title']">
                    <p class="bold">Game</p>
                    <p>{{ selected_game['game_title'] }}</p>
                    <p>Pluto Code: {{profile['uid']}}</p>
                </div>
                <div *ngIf="programForm.value['no_sessions']&&programForm.value['no_occurrences']&&programForm.value['cadence']&&programForm.value['no_duration']&&programForm.value['duration']">
                    <p class="bold">Suggested Frequency</p>
                    <p>{{programForm.value['no_sessions']}}x/{{programForm.value['no_occurrences']}} {{programForm.value['cadence']}}</p>
                    <p>{{programForm.value['no_duration']}} {{programForm.value['duration']}} per session</p>
                    <p *ngIf="programForm.value['on_date']">{{today}} to {{programForm.value['on_date'] | date:'dd-MM-yyyy'}}</p>
                    <p *ngIf="programForm.value['no_after']">{{programForm.value['no_after']}} sessions</p>
                </div>
            </div>
            <br>
            <button mat-flat-button class="body-text button-background cta-button" [disabled]="!programForm.valid||!selected_game">ASSIGN</button>
            </form>
            <br>
            <br>
        </mat-card>
    </mat-sidenav-content>
