<div class="center">
    <div class=" main-text title">
        <img src="/assets/logo-color.png">
    </div>
    <br>
    <div class="body-text main-text">
        Log in with your work email address to start tracking 
        <br>
        your clients' game exercises
    </div>
    <br>
    <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="outline" [floatLabel]="'always'" class="body-text input-width">
                            <mat-label>email address</mat-label>
                            <input matInput formControlName="email" placeholder="someone@example.com">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('email').valid && regiForm.get('email').touched">
                            Please enter valid email.
                        </span>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline" [floatLabel]="'always'" class="body-text input-width">
                            <mat-label>password</mat-label>
                            <input matInput formControlName="password" type="password" placeholder="password">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('password').valid && regiForm.get('password').touched">
                            Please enter your password.
                        </span>
                    </mat-error>                    
                </td>
            </tr>
            <tr>
                <td class="content-center">
                    <button class="body-text button" color="primary" mat-flat-button [disabled]="!regiForm.valid">LOG IN</button>
                </td>
            </tr>
        </table>
    </form>    
</div>
