<div class="center">
    <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="outline" [floatLabel]="'always'">
                            <mat-label>email address</mat-label>
                            <input matInput formControlName="Email" placeholder="someone@example.com">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">
                            Please enter valid email.
                        </span>
                    </mat-error>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="outline" [floatLabel]="'always'">
                            <mat-label>password</mat-label>
                            <input matInput formControlName="Password" type="password" placeholder="password">
                    </mat-form-field>
                    <mat-error>
                        <span *ngIf="!regiForm.get('Password').valid && regiForm.get('Password').touched">
                            Please enter your password.
                        </span>
                    </mat-error>                    
                </td>
            </tr>
            <tr>
                <td class="content-center">
                    <button color="primary" mat-flat-button [disabled]="!regiForm.valid">Log In</button>
                </td>
            </tr>
        </table>
    </form>    
</div>
