<mat-sidenav-container class="sidenav-container">
    <!-- side nav -->
    <mat-sidenav mode="side" opened>
        <div class="list-container">
            <div class="main-text navtitle">
                <a href="/">
                    <img src='/assets/logo-white.png'>
                </a>
            </div>
            <mat-nav-list>
                <a mat-list-item href="/#patients" class="body-text white">Clients</a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/#games" class="body-text white">Games</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">Settings</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">FAQ</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </div>
        <div class="name-container body-text">
            <ngx-avatar class="face-container" name="{{user['first name']}} {{user['last name']}}" bgColor="white" fgColor="black"></ngx-avatar>
            {{user['first name']}} {{user['last name']}}
        </div>
    </mat-sidenav>
    <!-- main content -->
    <mat-sidenav-content class="background">
        <mat-card>
            <!-- Patient Profile Section -->
            <!-- back button -->
            <div class="back-button vertical-center" (click)="goPatients()">
                <mat-icon class="back-arrow">arrow_back</mat-icon>
                <p class="body-text">Clients</p>
            </div>
            <mat-card-title>
                <h1>CLIENT PROFILE</h1>
            </mat-card-title>
            <div class="profile-container">
                <div class="body-text">PATIENT INFORMATION</div>
                <table class="info-container info-margin">
                    <tr>
                        <td class="sixty">
                            <div class="body-text-bigger info-cell">
                                <ngx-avatar class="face-container" name="{{profile['firstName']}} {{profile['lastName']}}"></ngx-avatar> 
                                {{profile['firstName']}} {{profile['lastName']}}
                            </div>
                        </td>
                        <td class="forty">
                            <div class="body-text">
                                <img src="/assets/pluto-icon.png">
                                Pluto Code: {{profile['uid']}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="sixty">
                            <mat-chip-list>
                                <mat-chip *ngFor="let tag of profile['goals']" class="body-text">{{tag.replace('_', ' ')}}</mat-chip>
                            </mat-chip-list>
                        </td>
                        <td class="forty">
                            <p class="body-text contact-name">
                                <img src="/assets/contact-icon.png">
                                &nbsp;{{profile['recipient_name']}}
                            </p>
                            <p class="body-text contact-info">
                                {{profile['recipient_email']}}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Adherence Graph -->
            <p class="info-margin body-text">
                ACTIVITY
            </p>
            <div [chart]="chart" class="chart-cell" *ngIf="!noData"></div>
            <div class="chart-cell no-data content-center vertical-center" *ngIf="noData">
                <p class="body-text">
                    {{profile['firstName']}} has not started playing any games.
                    <br>
                    Assign a program to get them started.
                </p>
            </div>
            <!-- Homework Section -->
            <p class="info-margin body-text">PROGRAMS</p>
            <mat-grid-list cols="2" rowHeight="250px" gutterSize="45px" class="info-margin">
                <div *ngFor="let game of gameTiles">
                    <mat-grid-tile colspan="1" rowspan="1" class="game-cell" (click)="goGameData(game)"> 
                        <div class="game-left fill">
                            <img [src]="game['icon']">
                        </div>
                        <div class="game-right">
                            <div class="body-text-bigger game-title">
                                {{ game['game_title'].replace('_', ' ') }} 
                            </div>
                            <mat-chip-list>
                                <div *ngFor="let tag of game['tags']">
                                    <mat-chip class="body-text-smaller">{{ tag.replace('_', ' ') }}</mat-chip>
                                </div>
                            </mat-chip-list>
                            <div class="body-text-smaller">
                                <p>{{game['homework']['no_sessions']}}x/{{game['homework']['no_occurrences']}} {{game['homework']['cadence']}}</p>
                                <p>{{game['homework']['no_duration']}} {{game['homework']['duration']}} per session</p>
                                <p *ngIf="game['homework']['on_date']">{{today}} to {{game['homework']['on_date'] | date:'dd-MM-yyyy'}}</p>
                                <p *ngIf="game['homework']['no_after']">{{game['homework']['no_after']}} sessions</p>
                            </div>
                        </div>
                    </mat-grid-tile>
                </div>
                <mat-grid-tile colspan="1" rowspan="1" class="add-cell" (click)=goAddProgram()>
                    <div class="add-flex">
                        <mat-icon class="add-icon">add_circle</mat-icon>
                        <p class='body-text game-title'>Assign a Program</p>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-sidenav-content>
