.profile-container {
    margin-top: 40px;
}

.info-container {
    width: 100%;
}

.info-margin {
    margin-top: 30px;
}

.info-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart-cell {
    display: block;
    margin-top: 30px;
    height: 300px;
    width: 900px;
}

.game-cell {
    border: 1px solid #000000;
    border-radius: 6px;
}

.game-left {
    position: relative;
    left: 0;
    height: 100%;
    width: 40% !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.game-right {
    float: right;
    padding-left: 10px;
    width: 60% !important;
}

.game-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.add-cell {
    border: 1px solid #9CFFDB;
    border-radius: 6px;
    background: rgba(156, 255, 219, 0.06);
    cursor: pointer;
}

.add-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
}

.add-icon {
    height: 55px;
    width: 55px;
    font-size: 55px;
    color: #29DD9C;
    display: flex;
    flex-direction: column;
}

.no-data {
    background-image: url(/assets/Whiteboard.png)
}

.contact-name {
    display: flex;
    margin-bottom: 5px;
}

.contact-info {
    padding-left: 30px;
    margin: 0;
}

