<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <div class="main-text navtitle">GAMETRICS</div>
        <mat-nav-list class="main-text">
            <a mat-list-item>Games</a>
            <a mat-list-item>Patients</a>
            <a mat-list-item>Settings</a>
            <a mat-list-item>FAQ</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="background">
        <div>
            <mat-card class="home">
                <table>
                    <tr>
                        <td>
                            <div class="main-text title">
                                Good afternoon, Lily
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="main-text subtitle">
                                Welcome to Gametrics! Start browsing our games or adding your patients 
                                to track their gameplay progress.
                            </div>
                        </td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
