.sidenav-container {
    background: #FFFFFF;
    border: 1px solid #C4C6D1;
    height: 100vh;
  }

.background {
  background-color: #faf9f7;
  padding-top: 70px;
  padding-left: 70px;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.list-container {
  padding-left: 40px;
}

.face-container {
  margin-right: 10px;
}

mat-sidenav {
  width: 20%;
  height: 100vh;
}

mat-card {
  padding: 40px;
  margin-bottom: 30px;
  width: 85%;
  flex-direction: column;
}

.home {
  background-image: url(/assets/Home.png);
}

.center {
  display: flex;
  height: 100vh; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.main-text {
  font-family: 'DIN Alternate';
  font-weight: bold;
}

.body-text {
  font-family: 'Roboto';
}

.title {
  font-size: 56px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 54px;
}

.navtitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 40px;
}
