.sidenav-container {
    height: 100vh;
  }

.background {
  background-color: #FFFFFF;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.list-container {
  padding-left: 40px;
}

.face-container {
  margin-right: 10px;
}

mat-sidenav {
  background-color: #000000;
  width: 20%;
  height: 100vh;
  color: #FFFFFF;
}

mat-card {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  width: 85%;
  flex-direction: column;
  border: none !important;
  box-shadow: none !important;
}

.white {
  color: #FFFFFF;
}

.home {
  background-image: url(/assets/Home.png);
}

.center {
  display: flex;
  height: 100vh; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.body-text {
  font-family: 'Archivo';
  font-size: 20px;
}

.body-text-smaller {
  font-family: 'Archivo';
  font-size: 16px;
}

.body-text-bigger {
  font-family: 'Archivo';
  font-size: 24px;
}

h1 {
  font-family: 'Bungee';
  font-size: 36px;
  line-height: 43px;
}

.navtitle {
  margin-bottom: 30px;
  margin-top: 40px;
}

.back-button {
  flex-direction: row;
  cursor: pointer;
}

.back-arrow {
  font-size: 35px;
  width: 40px;
  height: 35px;
}

.cta-button {
  width: 215px;
  height: 70px;
}
