<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <div class="list-container">
            <div class="main-text navtitle">
                <a href="/">
                    <img src='/assets/logo-white.png'>
                </a>
            </div>
            <mat-nav-list>
                <a mat-list-item href="/#patients" class="body-text white">Clients</a>
                <mat-divider></mat-divider>
                <a mat-list-item href="/#games" class="body-text white">Games</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">Settings</a>
                <mat-divider></mat-divider>
                <a mat-list-item class="body-text white">FAQ</a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </div>
        <div class="name-container body-text">
            <ngx-avatar class="face-container" name="{{user['first name']}} {{user['last name']}}" bgColor="white" fgColor="black"></ngx-avatar>
            {{user['first name']}} {{user['last name']}}
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="background">
        <mat-card class="home">
            <table>
                <tr>
                    <td>
                        <h1>
                            Good afternoon, {{user['first name']}}
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="body-text">
                            Welcome to Pluto Care! Start browsing our games or adding your patients 
                            to track their gameplay progress.
                        </div>
                    </td>
                </tr>
            </table>
        </mat-card>
        <div *ngFor="let article of articles" class="main-text">
                <mat-card>
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
                    <mat-card-content>
                        <a>{{article.link}}</a>
                    </mat-card-content>
                    <img mat-card-image src="{{article.img}}">
                </mat-card>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
